/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --border-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.dark{
    color: black;
}

.light{
    color: white;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto 0px;
    max-width: 1440px;
    gap: 30px;
}

header{
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
    gap: 35px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

p, h1, h2, h3{
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

.logo-reservia {
    max-width: fit-content;
    padding: 30px 50px 30px 50px;
}

.logo-reservia img {
    max-height: 19px;
}

.menu {
    padding: 0px 50px 0px;
    display: flex;
    gap: 68px;
}

.btn-menu {
    border-top: 2px solid transparent;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.btn-menu:hover{
    border-color: var(--main-color);
    color: var(--main-color);
}


/****** Search form and info ***********/
.infos-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-bar{
    display: flex;
    max-height: 49px;
    max-width: fit-content;
    border-radius: 15px;
    border: 1px solid var(--main-bg-color);
    gap: 24px;

}

.search-front-icon{
    height: 49px;
    width: 50px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
}

.search-front-icon i{
    position: relative;
    top: 15px;
    left: 18px;
}

.search-input{
    padding: 0px;
    border: none;
    height: 49px;
    max-width: 147px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.search-input:focus-visible {
    outline: none;
}

::placeholder{
    color: #000000;
}

.submit-input{
    background-color: var(--main-color);
    height: 49px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border : none;
    padding: 15px 16px;
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.filter-bar{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.filters{
    display: inline-flex;
    gap: 15px;
}

.buttons-filter{  
    height: 50px;
    border-radius: 25px;
    border: solid var(--border-color);
    border-width: 2px;
    background: none;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 4px 19px;
    font-size: 17px;
    font-weight: 700;
    width: fit-content;
}

.buttons-filter:hover{
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.info-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.fa-info{
    height: 24px;
    width: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--border-color);
    border-radius: 50%;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.hebergements-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container{
    width: 31%;
    height: 90%;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 5px 15px;
    height: 100%;
    width: 100%;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content{
    max-width: 100%;
    padding: 0px 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-title{
    margin-bottom: 4px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities-frame{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.activities-card{
    width: 24%;
}

.activities-frame .card{
    padding: 0px;
    height: 100%;
}

.activities-frame img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-frame .card-txt{
    padding: 20px 19px 20px;
}

/****** Footer ********/

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--main-bg-color);
}

.col-footer{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.filter-title{
    font-size: 18px;
    font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Big devices (desktops, less or equal 1440px) */

@media (min-width : 1025px) {

    .submit-input .mobile {
        display: none;
    }

}

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .submit-input .mobile {
        display: none;
    }

    .activities-frame img{
        height: 200px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements, .populaires  {
        width: 100%;
    }

    .hebergements .card-subtitle{
        padding-top: 8px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        gap: 30px;
        width: 100%;
    }

    header {
        height: fit-content;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .logo-reservia{
        padding: 30px;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 0px;
    }

    .btn-menu{
        width: 50%;
        padding: 0px 0px 15px ;
        border-top: none;
        border-bottom: 2px solid transparent;
    }

    .btn-menu:hover{
        border-color: var(--main-color);
        width: 50%;
    }
    
    .main-container{
        padding: 0%;
    }

    .infos-group{
        padding: 0px 20px 0px;
    }

    .search-bar{
        max-width: 100%;
        align-self: stretch;
        flex-grow: 0;
        justify-content: space-between;
        position: relative;
    }

    .search-input{
        position: absolute;
        left: 74px;
    }

    .submit-input{
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;
        right: 0px;
    }

    .submit-input .desktop{
        display: none;
    }

    .submit-input .mobile{
        display: block;
    }

    .filter-bar{
        flex-direction: column;
        align-items: flex-start;
        flex: 50%;
        gap: 20px;
    }

    .filters{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex: 1 auto;
        width: 100%;
    }

    .buttons-filter{
        width: 47%;
        min-width: 150px;
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction:column-reverse;
        gap: 15px;
        width: 100%;
    }

    .card-subtitle{
        font-size: 14px;
    }

    .hebergements ,.populaires{
        width: 100%;
        padding: 20px;
        gap: 20px;
    }

    .hebergements-and-populaires .populaires{
        background-color: var(--main-bg-color);
        border-radius: 0%;
    }

    .hebergements-and-populaires .hebergements{
        background-color: transparent;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: auto;
    }

    .populaires-cards{
        flex-direction: column;
    }

    .populaires-cards a,
    .activities-card,
    .card-container{
        width: 100%;
    }

    .hebergements-cards img{
        height: 124px;
    }

    .activities-frame{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .activities-frame img{
        height: 141px;
    }

    footer{
        flex-direction: column;
    }

    .col-footer{
        width: auto;
    }
}