/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

header{
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.logo-and-menu {
    height: 79px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.logo-reservia {
    max-width: fit-content;
    padding: 30px 50px 30px 50px;
}

.logo-reservia img {
    max-height: 19px;
}

.menu {
    max-height: fit-content;
    padding: 0px 50px 0px;
    display: flex;
    gap: 68px;
}


.btn-hebergements,
.btn-activities {
    border: solid white;
    border-width: 2px;
    border-style: solid hidden hidden;
    background-color: transparent;
    padding-top: 16px;
    width: fit-content;
    height: fit-content;
}


.btn-hebergements:hover,
.btn-activities:hover {
    border: solid #0065FC;
    border-width: 2px;
    border-style: solid hidden hidden;
    width: fit-content;
}


.menu-btn{
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    color: #000000;
    text-align: center;
}

.menu-btn:hover {
    color: #0065FC;
}

/****** Search form and info ***********/
.infos-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline h2, .headline p{
    margin: 0px;
}

.search-bar{
    display: flex;
    max-height: 49px;
    max-width: fit-content;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    gap: 24px;

}

.search-front-icon{
    height: 49px;
    width: 50px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}

.search-front-icon img{
    position: relative;
    top: 15px;
    left: 18px;
}

.search-input{
    padding: 0px;
    border: none;
    height: 49px;
    max-width: 147px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: black;
}

.search-input:focus-visible {
    outline: none;
}

::placeholder{
    margin: 0px;
    line-height: 21.13px;
    color: #000000;
    opacity: 1;
}

.submit-input-desktop{
    background-color: #0065FC;
    height: 49px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border : none;
    padding: 15px 16px;
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    color: #ffffff
}

.submit-input-mobile{
    background-color: #0065FC;
    height: 49px;
    border-radius: 15px;
    border : none;
    padding: 15px 16px;
}
.submit-input-mobile img{
    max-height: 17px;
    max-width: 17px;
}

.filter-bar{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.filters{
    display: inline-flex;
    gap: 15px;
}

.buttons-filter{  
    height: 50px;
    border-radius: 25px;
    border: solid #D9D9D9;
    border-width: 2px;
    background: none;
}

.buttons-filter:hover{
    background-color: #DEEBFF;
}


.filter-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 4px 19px;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    width: auto;
}

.filter-button img{
    max-width: 22px;
    max-height: 22px;
}

.filter-btn text{
    margin: 0px;
}

.info-bar{
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-bar img{
    height: 24px;
    width: 24px;
    border-width: 1px;
    border-color: #D9D9D9;
}

.info-bar p{
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    columns: 3;
}

.hebergements-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.hebergements-cards .card{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0px 0px 15px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: #ffffff;
    border-width: 5px;
}

.hebergements-cards .card-content{
    width: 100%;
    padding: 0px 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hebergements-cards .card-title, .hebergements-cards .card-subtitle{
    margin: 0px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities-frame{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.activities-frame .card{
    padding: 0px;
}

.activities-frame img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

.activities-frame .card-txt{
    display: inline-flex;
    padding: 20px 19px 20px;
    gap: 10px;
}

.activities-frame h3{
    margin: 0px;
}

/****** Footer ********/

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F2F2F2;
    columns: 3;
}

.col-footer{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.col-footer p, .col-footer h3{
    margin: 0px;
}

.filter-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin: 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Big devices (desktops, less or equal 1440px) */

@media (min-width : 1025px) {
    .submit-input-mobile {
        display: none;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) and (min-width: 768px) {

    .submit-input-mobile {
        display: none;
    }

    .activities-frame img{
        height: 200px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body{
        gap: 30px;
    }

    .logo-and-menu {
        height: fit-content;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .logo-reservia{
        padding: 30px;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 0px;
    }

    .btn-hebergements,
    .btn-activities {
        width: 50%;
        padding: 0;
    }

    .btn-hebergements:hover,
    .btn-activities:hover {
        border: solid #0065FC;
        border-width: 2px;
        border-style: hidden hidden solid;
        width: 50%;
    }

    
    .main-container{
        padding: 0%;
    }

    .infos-group{
        padding: 0px 20px 0px;
    }

    .submit-input-desktop {
        display: none;
    }

    .filter-bar{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .filters{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        width: 100%;
    }

    .buttons-filter{
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction:column-reverse;
        gap: 15px;
        width: 100%;
    }

    .hebergements ,.populaires{
        width: 100%;
        padding: 20px;
        gap: 15px;
    }

    .hebergements-and-populaires .populaires{
        background-color: #F2F2F2;
        border-radius: 0%;
    }

    .hebergements-and-populaires .hebergements{
        background-color: transparent;
    }

    .hebergements-cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: auto;
    }

    .hebergements-cards img{
        height: 124px;
    }

    .activities-frame{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .activities-frame img{
        height: 141px;
    }

    footer{
        flex-direction: column;
    }

    .col-footer{
        width: auto;
    }
}